:root { 
--bluegray_900:#22194d; 
--gray_700:#556561; 
--red_700:#d92525; 
--black_900:#000000; 
--gray_800:#4e4e4e; 
--teal_900:#044040; 
--red_700_99:#d9252599; 
--red_700_cc:#d92525cc; 
--white_A700:#ffffff; 
--gray_100:#f2f2f2; 
}